/*оформление диалогового модуля*/
.dialog{
	position:fixed;
	top:50%;
	left:100%;
	width:400px;
	height:430px;
	margin-left:-25px;
	margin-top:-180px;
	padding-left:15px;
	border:#fff 5px inset;
	border-radius:5px;
	background:#FF4444; 
	color:#fff;  
	z-index:1500;
	font-size:15pt; 
	
}
.dialog audio{
	width:240px;
}
.dialog .label{
	position: absolute;
	transform: rotate(270deg);
	width:420px;
	height:35px;
	text-align:center;
	overflow:hidden;
	display:inline-block;
	margin-left:-50%;
	margin-top:45%;
	cursor:pointer;
}

.dialog .header{
	display:none;
	text-align:center;
	margin-top:-200px;
	
}

.dialog .history{
	height: 330px;
	overflow-x:hidden;
	overflow-y:hidden;
	overflow-y:scroll;
	background-color: gainsboro;
}

.dialog input, .dialog button, .dialog .history{
	margin:2px 25px;
	width:85%;
	border:2px gray solid;
	border-radius: 7px;
	font-size:18px;
}
.dialog button, .dialog .input{
	height: 30px;
}
.dialog .history .question, .dialog .history .answer{
	margin:5px;
	width:78%;
	border-radius: 5px;
	padding:5px;	
}

.dialog .history .question{
	margin-left:40px;
	background-color: yellow;
    color:black;
}
.dialog .history .answer{
	margin-right:40px;    
	background-color: lemonchiffon;
    color:black;
}
/*оформление картинок в диалоге*/
.dialog .history .answer img,.dialog .history .answer embed{
	cursor: pointer;
	display: block;
	max-width: 180px;
}

